@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #fff6e9;
    --p-color: #808080;
    --link-color: #636363;

    /* text */
    --logo: 1.5rem;  /*24px*/
    --title-h1: 2.25rem; /* 36px */
    --title-h2: 1.875rem; /* 30px */
    --title-h3: 1.5rem; /* 24px */
    --line-height-p: 1.5rem; /* 24px */

    /* padding */
    --padding-peq: 0.875rem; /* 14px */
    --padding-med: 1rem; /* 16px */
    --padding-gr: 1.5rem; /* 24px */
    /* padding navbar */
    --padding-mobile: 1.5rem; /* 24px */
    --padding-desktop: 2rem; /* 32px */

    /* margin */
    --margin-peq: 0.875rem; /* 14px */
    --margin-med: 1rem; /* 16px */
    --margin-gr: 1.5rem; /* 24px */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Cabin', sans-serif;
}

body {
    height: 100vh;
}

header {
    background-color: var(--bg-color);
}

/* Top Text Config */
#top-text {
    background-color: black;
    color: #fff;
    text-align: center;

    padding: 10px;
}

/* Navbar Config */
#navigation ul {
    display: none;
}

#navigation {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding: var(--padding-mobile);
}

#navigation #logo-burguer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navigation #logo-burguer p {
    font-weight: 700;
    font-size: var(--logo);
    cursor: pointer; 
}

#navigation #logo-burguer img {
    cursor: pointer;
}

/* Header Config */
header #first-block {
    display: flex;
    flex-direction: column;
    margin: var(--margin-gr);
}

header #first-block .first-block-text {
    order: 1;
    margin-top: var(--margin-gr);
}

header #first-block .first-block-text h1 {
    font-size: var(--title-h1);
    margin-bottom: var(--margin-peq);
}

header #first-block .first-block-text p {
    color: var(--p-color);
    margin-bottom: var(--margin-peq);
    line-height: var(--line-height-p);
}

/* Picture Config */
header #first-block-img {
    margin: auto;
}

header #first-block-img img {
    max-width: 100%;
}

header #first-block .list-first-block li {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--link-color);
    font-weight: 700;

    padding-bottom: 10px;
}

header #first-block .formulary {
    padding: 0.875rem 0 2rem;
}

header #first-block .formulary #email {
    padding: 1rem;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 5px;
}

#btn {
    background-color: black;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 0.875rem;
    transition: background .7s ease;
}

#btn:hover {
    background-color: rgb(32, 32, 32);
}

::placeholder {
    color: lightgray;
}

/* Logos */
#logos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: var(--margin-med);
}

#logos .pinterest,
.twitter,
.reddit,
.google,
.slack {
    display: none;
}

#logos img{
    width: 100px;
}

/* Segundo Bloco Config */
#second-block {
    display: grid;
    justify-items: center;
    background-color: var(--bg-color);
    border-radius: 10px;

    margin: var(--margin-gr);
    padding: var(--padding-gr) var(--padding-gr) 0;
}

#second-block .second-block-text h2 {
    font-size: var(--title-h2);
    margin-bottom: var(--margin-peq);
}

#second-block .second-block-text p {
    color: var(--p-color);
    line-height: var(--line-height-p);
    margin-bottom: var(--margin-peq)
}

#second-block .second-block-text a {
    color: var(--link-color);
    font-weight: 700;
}

#second-block picture img {
    max-width: 100%;
    vertical-align: bottom;
}

/* Aside */
#block-thirdy {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#block-thirdy .bloco-thirdy-text h3 {
    font-size: var(--title-h2);
    margin-bottom: var(--margin-peq);
}

#block-thirdy .bloco-thirdy-text p {
    margin-bottom: var(--margin-peq);
    color: var(--p-color);
    line-height: var(--line-height-p);
}

#block-thirdy .bloco-thirdy-text a {
    color: var(--link-color);
    font-weight: 700;
}

#block-thirdy .bloco-thirdy-img {
    order: 2;
    margin: var(--margin-peq);
}

#block-thirdy .bloco-thirdy-img img{
    max-width: 100%;
}

/* Footer */
footer {
    background-color: black;
    color: #fff;
    padding: var(--padding-gr);
}

footer #about-spense {
    padding: var(--padding-peq) 0;
}

footer #about-spense h3 {
    margin-bottom: var(--margin-peq);
}

footer #about-spense p {
    color: var(--p-color);
    margin-bottom: var(--margin-peq);
}

footer #footer-links {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    justify-content: space-between;
    gap: 20px;
}

footer #footer-links .links {
    display: flex;
    flex-flow: column wrap;
}

footer #footer-links .links a {
    color: var(--link-color);
    text-decoration: none;
    margin-top: var(--padding-peq);
    transition: color .7s ease;
}

footer #footer-links .links a:hover {
    text-decoration: underline;
    color: #808080;
}